.blog_post_text img{
    width: 100%;
}

.share_navigation{
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 15px 0px;
    width: 100%;
    z-index: 2;
}

#page_blog_post footer{
    padding-bottom: 120px;
}

#page_blog_post .title_top_standard{
    background-position: center;
}