form button{
    margin-top: 28px !important;
    width: 100%;
    margin-left: 0;
}

form{
    position: relative;
}

.error{
    display: inline-block;
    margin-bottom: .5rem;
    position: absolute;
    top: 100%;
    font-size: 14px;
    color: #FF3939;
}
