#page_error404{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#page_error404 > div{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media(max-width: 991px){
    #page_error404 > div{
        width: 100%;
    }
}